body{
	padding-top: 100px;
}

.title-wrapper{
	text-align: center;
}

.form-wrapper{
	width: 80%;
	margin: 20px auto;
    border:solid thin #151515;
    padding-top:50px;
    background-color: #E6E6E6
    }
.form-item-wrapper {
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
	clear: both;
}

.form-item-wrapper p {
	width: 45%;
	margin-right: 5%;
	font-size: 20px;
	text-align: right;
	float: left;
}

.form-item-wrapper input {
	width: 35%;
	margin-right: 15%;
	float: left;
}

.form-item-wrapper select {
	width: 35%;
	margin-right: 15%;
	float: left;
}
.form-detail-wraper {
	margin-bottom: 10px;
	width: 100%;
	height: 200px;
	clear: both;
}
textarea{
    resize: none;
}
.form-detail-wrapper p {
	width: 45%;
	margin-right: 5%;
	font-size: 20px;
	text-align: right;
	float: left;
}

.form-submit {
	width: 20%;
	margin: 20px auto;
	text-align: center;