@CHARSET "UTF-8";

/* 画面の外側の隙間をなくすためのもの */

html,body,
ul,ol,li,
h1,h2,h3,h4,h5,h6,p,div{
	margin:0;
	padding:0;
}

/* 画面の外側の隙間をなくすためのもの */

li{
	list-style:none;
}

/* 画面の外側の隙間をなくすためのもの */

a{
	text-decrotation:none;
}

/* 画像のサイズ変更 */

.maintitle{width: 300px;
height: 150px;

}

/* 画像のサイズ変更 */

.title{width: 300px;
height: 80px;

}

